# Day 1

# Print Function

In [4]:
#print function
print("hello world")
a=5
print("a=",a)
b=6
print("a+b=",a+b)
c=a+b
print("c=",c)
print('single quotes')
print(3)

hello world
a= 5
a+b= 11
c= 11
single quotes
3

In [5]:
print("more strings")
print(3)

more strings
3

In [6]:
a = 1
print(a)

1

In [7]:
b=2
print(b)

2

In [8]:
print(a)
print(b)

1
2

In [9]:
c="hello there jamal"
print (c)

hello there jamal

In [10]:
e="this is a string"
print(e)

this is a string

In [11]:
c=e
print(c,e)

this is a string this is a string

# Swapping 2 variables

In [12]:
v1="first"
v2="second"
print(v1)
print(v2)
vtemp=v1
v1=v2
v2=vtemp
print(v1)
print(v2)

first
second
second
first

# IF ELSE Statement - Day 2

In [13]:
a=3
b=2

if a < b :
    print("a is less than b")
    print("if statement")
    
print("not sure if a is less than b")

not sure if a is less than b

In [14]:
c = 5
d = 4

if c < d :
    print("c is less than d")
else :
    print("c is greater than d")

print("outside if block")

c is greater than d
outside if block

In [15]:
e = 15
f = 4

if e < f :
    print("e is less than f")
elif e == f:
    print("e is equal to f")
elif e > f + 10:
    print("e is greater than f by 10")
else :
    print("e is greater than f")

print("outside if block")

e is greater than f by 10
outside if block

In [16]:
##BMI Calculator
name="Jamal"
weight_kg=68
height_m=1.77

bmi = weight_kg / (height_m ** 2)
print(name,": ",bmi)
if bmi <= 18:
    print("BMI is Underweight")
elif bmi > 18 and bmi <=25:
    print("BMI is normal")
else:
    print("BMI is overweight")

Jamal :  21.705129432793896
BMI is normal

# Functions - Day 3

In [15]:
def function1():
    print("abcdef")
    print("ghijkl")
print("outside the function")

outside the function

In [16]:
function1()

abcdef
ghijkl

In [17]:
function1()
function1()
function1()

abcdef
ghijkl
abcdef
ghijkl
abcdef
ghijkl

In [18]:
#comment

In [12]:
def function2(x):
    return 2*x

print(function2(4))

8

In [13]:
a = function2(3)
print(a)
#return value or output

6

In [14]:
d=function2()

TypeError: function2() missing 1 required positional argument: 'x'

In [19]:
def function3(x,y):
    return x+y

e=function3(2,3)
print(e)

5

In [4]:
def function4(arg):
    print("inside function")
    print(arg)
    return arg*5

In [5]:
e=function4(4)
print("e =",e)

inside function
4
e = 20

In [20]:
def multiply(x,y):
    return x*y

a=2
b=3
c=multiply(a,b)
print(c)

6

In [30]:
#BMI Calculator
name1="jamal"
h1=1.7
w1=67

name2="ankit"
h2=1.7
w2=60

name3="nalin"
h3=1.7
w3=40

name4="anup"
h4=1.7
w4=90

def bmi_f(name,height_m,weight_kg):
        bmi=weight_kg / height_m**2
        print("bmi:",bmi)
        if bmi > 18 and bmi <= 25 :
            return name + " is ok"
        elif bmi > 25:
            return name + " is overweight"
        else:
            return name + " is underweight"

        
result1 = bmi_f(name1,h1,w1)
result2 = bmi_f(name2,h2,w2)
result3 = bmi_f(name3,h3,w3)
result4 = bmi_f(name4,h4,w4)
print(result1)
print(result2)
print(result3)
print(result4)

bmi: 23.18339100346021
bmi: 20.761245674740486
bmi: 13.84083044982699
bmi: 31.14186851211073
jamal is ok
ankit is ok
nalin is underweight
anup is overweight

In [32]:
#miles to km
#km = 1.6 miles

m1 = 15
m2 = 130
m3 = 120.5


def comvert_mile_to_km(miles):
    km = 1.6*miles
    return km


km1 = comvert_mile_to_km(m1)
km2 = comvert_mile_to_km(m2)
km3 = comvert_mile_to_km(m3)


print("m1 = ",m1)
print("m2 = ",m2)
print("m3 = ",m3)
print("Converting miles to km")

print("km1 = ",km1)
print("km2 = ",km2)
print("km3 = ",km3)

m1 =  15
m2 =  130
m3 =  120.5
Converting miles to km
km1 =  24.0
km2 =  208.0
km3 =  192.8

# Data Structures in Python

## Lists

In [33]:
a = [3, 10, -1]

In [34]:
print(a)

[3, 10, -1]

In [35]:
a.append(1)

In [36]:
print(a)

[3, 10, -1, 1]

In [37]:
#add string to list
a.append("hello")

In [38]:
print(a)

[3, 10, -1, 1, 'hello']

In [39]:
#add list to list
a.append([1,2])

In [40]:
print(a)

[3, 10, -1, 1, 'hello', [1, 2]]

In [41]:
#delete
a.pop()
print(a)

[3, 10, -1, 1, 'hello']

In [45]:
#print value at index
print(a[0])

3

In [46]:
a[3]

1

In [47]:
a[4]

'hello'

In [48]:
#change value at index
a[0]=5
print(a)

[5, 10, -1, 1, 'hello']

In [55]:
b = ["banana", "apple", "microsoft"]
print(b)
#swap items in list
temp = b[0]
b[0]=b[2]
b[2]=temp
print(b)

['banana', 'apple', 'microsoft']
['microsoft', 'apple', 'banana']

In [56]:
b[0],b[2] = b[2],b[0]
print(b)

['banana', 'apple', 'microsoft']

# For Loop

In [57]:
a=["apple","banana","google","microsoft"]

In [59]:
for element in a:
    print(element)
print("loop end")

apple
banana
google
microsoft
loop end

In [62]:
b=[20,30,10,50,60]
total=0
for e in b:
    print(e)
    total=total+e

print(total)

20
30
10
50
60
170

In [65]:
# 1,2,3,4
#range function
#range(1,5)


print(range(1,5))
print(list(range(1,5)))

a= list(range(1,5))
print("a=",a)

range(1, 5)
[1, 2, 3, 4]
a= [1, 2, 3, 4]

In [67]:
total2=0
for i in range(1,5):
    print(i)
    total2+=i
    
print(total2)

1
2
3
4
10

In [69]:
print(list(range(1,8)))

[1, 2, 3, 4, 5, 6, 7]

In [72]:
#sum of multiples of 3
total3=0
for i in range(1,8):
    if i % 3 == 0:
        total3 += i
print(total3)

9

In [73]:
print(list(range(1,100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [122]:
#sum of multiples of 3 or 5
total4=0
for i in range(1,100):
    if i % 3 == 0 or i %5==0:
        #print(i)
        total4+=i
print(total4)

2318

In [81]:
total = 0
for i in range(1,5):
    total+=i
    
print(total)

10

# While Loop

In [88]:
total2 = 0
j=1
while j < 5:
    total2+=j
    #print(j)
    print(total2)
    j+=1
print("outside loop:",total2)

1
3
6
10
outside loop: 10

In [91]:
list1 = [5,4,3,2,1,0,-1,-2,-3,-4,-5]
total3 = 0
i=0
while list1[i] > 0:
    total3+=list1[i]
    i+=1
print(total3)

15

In [95]:
#list length:  len(list2)

list2 = [5,4,3,2,1]
total=0
i=0
while i < len(list2) and list2[i] > 0:
    total+=list2[i]
    i+=1
    
print(total)

15

In [99]:
list3 = [5,4,3,2,1,0,-1,-2,-3,-4,-5]
total4 = 0
for element in list3:
    if element <= 0:
        break
    total4 +=element
    
print(total4)

15

In [100]:
#list3 = [5,4,3,2,1,0,-1,-2,-3,-4,-5]
total5 = 0
i = 0
while True:
    total5 += list3[i]
    i +=1
    if list3[i] <= 0:
        break
print(total5)

15

In [102]:
#list3 = [5,4,3,2,1,0,-1,-2,-3,-4,-5]
list4 = [5,4,3,2,1,0,-1,-2,-3,-4,-5,-7]

total = 0
i = 0
for element in list4:
    if element < 0:
        total += element
    
print(total)

-22

In [124]:
list4 = [5,4,3,2,1,0,-1,-2,-3,-4,-5,-7,-9]
total5 = 0
i= 0
while i < len(list4):
    if list4[i] < 0:
        total5+=list4[i]
    i += 1
print(total5)

-31

In [109]:
a = ["apple", "banana", "carrot"]

for element in a:
    print(element)

apple
banana
carrot

In [114]:
for i in range(len(a)):
    print(a[i])

apple
banana
carrot

In [117]:
# nested loop
#i=0, j=1
#i=1, j=0,1
#i=2, j=0,1,2


for i in range(len(a)):
    for j in range(i+1):
        print(a[i])

apple
banana
banana
carrot
carrot
carrot

# Dictionaries in Python

In [129]:
d = {}

In [127]:
d1 = {"Jamal":100, "bilal":200, "nazmi":300}

In [130]:
d2 = {}
d2["Anup"]=24
d2["ankit"]=26
d2["nalin"]=27

In [131]:
print(d2)

{'Anup': 24, 'ankit': 26, 'nalin': 27}

In [135]:
print(d2["Anup"])

24

In [136]:
print(d2["Jamal"])

KeyError: 'Jamal'

#### Note: Values could be any type but Keys ca only be certain types. Mostly, keys are string or integers

In [137]:
d[10]=100

In [138]:
print(d[10])

100

In [139]:
type(d)

dict

In [140]:
type(list1)

list

In [145]:
#how to iterate over a key-value pairs?
for key, value in d.items():
    print("key:",key)
    print("value:",value)
    print("")

key: Jamal
value: 100

key: bilal
value: 200

key: nazmi
value: 300

key: 10
value: 100

# Classes and Objects with Python

In [23]:
#class robot
#objects
#function introduce_self()

class Robot:
    def introduce_self(self):
        print("My name is " + self.name) #this in java

In [50]:
r1=Robot()
r1.name="Tom"
r1.color="red"
r1.weight=30

r2=Robot()
r2.name="Jerry"
r2.color="blue"
r2.weight=40

r1.introduce_self()
r2.introduce_self()

My name is Tom
My name is Jerry

In [48]:
#Defining Constructor

class Robot1:
    #self needs to be added to every function in arguments
    # __init__ is the name for constructor
    def __init__(self, name, color, weight): 
        self.name=name
        self.color=color
        self.weight=weight
    
    def introduce(self):
        print("My name is "+ self.name + ".My color is "+self.color+"and my weight is "
              +str(self.weight))
        
#outside class
r3=Robot1("Tom","Blue",30)
r4=Robot1("Jerry","Red",40)

In [49]:
r3.introduce()
r4.introduce()

My name is Tom.My color is Blueand my weight is 30
My name is Jerry.My color is Redand my weight is 40

In [65]:
'''
#class Person:
name
personality
is_sitting
robotOwned
sit_down()
stand_up()

#class Robot
name
color
weight
introduce_self()
'''

class Person:
    def __init__(self,n,p,i):
        self.name = n
        self.personaliyt = p
        self.is_sitting = i
        
    def sit_down(self):
        is_sitting = True
    
    def stand_up(self):
        is_sitting = False
        

class Robot3:
    def __init__(self,name,color,weight):
        self.name = name
        self.color = color
        self.weight = weight
    
    def introduce(self):
        print("my name is "+self.name)
    

    
p1 = Person("A","Aggressive",False)
p2 = Person("B","Talkative",True)

R1 = Robot3("Tom","Blue",30)
R2 = Robot3("Jerry","Red",20)

p1.robot_owned = R2
p2.robot_owned = R1

In [66]:
print(p1.name)
p1.robot_owned.introduce()
print(p2.name)
p2.robot_owned.introduce()

A
my name is Jerry
B
my name is Tom

# Boolean in Python

In [70]:
type("microsoft")

str

In [69]:
type(4)

int

In [71]:
type(3.5)

float

In [74]:
type(True)

bool

In [76]:
a=1
b=3
if a>b:
    print("True")
else:
    print("False")

False

In [78]:
if True:
    print("A is greater than B")

B is greater than A

In [81]:
boolean_value = a > b

In [82]:
print(boolean_value)

False

In [85]:
if boolean_value:
    print("a > b")
else:
    print("a < b")

a < b

In [86]:
def rain(is_rainy, has_umbrella):
    if is_rainy and not has_umbrella:
        return True
    else:
        return False

In [88]:
rain(True,False)

True

In [89]:
def c_greater_tahn_d_plus_e(c,d,e):
    if c > (d+e):
        return True
    else:
        return False

In [91]:
c_greater_tahn_d_plus_e(8,3,4)

True

# List Comprehension

In [92]:
a = [1,3,5,7,9,11]

In [95]:
c =[]
for x in a:
    c.append(x*2)
print(c)

[2, 6, 10, 14, 18, 22]

In [97]:
d = [x * 2 for x in a]
print(d)

[2, 6, 10, 14, 18, 22]

In [99]:
e1=[]
for x in range(1,7):
    e1.append(x**2)
print(e1)

[1, 4, 9, 16, 25, 36]

In [101]:
e2 = [x ** 2 for x in range(1,7)]
print(e2)

[1, 4, 9, 16, 25, 36]

In [107]:
for x in range(6,0,-1):
    print(x)

6
5
4
3
2
1

In [109]:
f1=[]
for x1 in range(6,0,-1):
    f1.append(x1**2)
print(f1)

[36, 25, 16, 9, 4, 1]

In [112]:
f2 = [x1 ** 2 for x1 in range(6,0,-1)]
print(f2)

[36, 25, 16, 9, 4, 1]

# Set in python

A set is a type of data which stores a unique  set of things.
A python set rejects duplicate items

In [127]:
#{1,3} <- 3
#-> {1,3}
#set keeps only unique values and sorts them

a = set()
print(a)

set()

In [115]:
a.add(1)

In [116]:
print(a)

{1}

In [117]:
a.add(2)

In [118]:
print(a)

{1, 2}

In [119]:
a.add(2)

In [120]:
print(a)

{1, 2}

In [121]:
for x in a:
    print(x)

1
2

In [126]:
list1 = [1,1,2,2,4,5,6,3,3,9,8,7,6]
set1 =  set()
for x in list1:
    set1.add(x)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [132]:
set2 = set()
set2.add(1)
set2.add('apple')
set2.add('banana')
set2.add(2)
print(set2)

{'banana', 'apple'}

In [134]:
list3 = [1,3,4,1,3]
set3 = set()
total=0
for x in list3:
    set3.add(x)
    #total+=x
print(set3)
for x in set3:
    total+=x
print(total)

{1, 3, 4}
8

# CodingBat.com

In [11]:
'''
Warmup-1 > sleep_in 
prev  |  next  |  chance
The parameter weekday is True if it is a weekday, and the parameter vacation is True if we are on vacation.
We sleep in if it is not a weekday or we're on vacation. Return True if we sleep in.

sleep_in(False, False) → True
sleep_in(True, False) → False
sleep_in(False, True) → True
'''

def sleep_in(weekday, vacation):
  if not weekday or vacation:
    return True
  else:
    return False


print(sleep_in(False, False))
print(sleep_in(True, False))
print(sleep_in(False, True))
print(sleep_in(True, True))

True
False
True
True

In [13]:
'''
Warmup-2 > string_times 
Given a string and a non-negative int n, return a larger string that is n copies of the original string.


string_times('Hi', 2) → 'HiHi'
string_times('Hi', 3) → 'HiHiHi'
string_times('Hi', 1) → 'Hi'
'''

def string_times(str, n):
  str2 = str * n
  return str2


print(string_times("Hi", 4))

HiHiHiHi

In [29]:
list1 = [6,2,3,5,7,6,9]

In [30]:
if list1[0] == 6 or list1[len(list1)-1] == 6:
    print(True)
else:
    print(False)

True

In [1]:
'''
List-1 > first_last6 
Given an array of ints, return True if 6 appears as 
either the first or last element in the array. 
The array will be length 1 or more.


first_last6([1, 2, 6]) → True
first_last6([6, 1, 2, 3]) → True
first_last6([13, 6, 1, 2, 3]) → False
'''
'''
def first_last6(nums):
  if nums[0] == 6 or nums[len(nums)-1]==6:
    return True
  else:
    return False
'''


#alternative:
def first_last6(nums):
  if nums[0] == 6 or nums[-1]==6:
    return True
  else:
    return False


nums = [1,2,4,5,7,4,5,6]
num2 = [1,2,4,5,7,4,5]


print(first_last6(nums))
print(first_last6(num2))

True
False

In [3]:
str1 = 'abc'
str2 = ''
for x in str1:
    str2 = str2+(x*2)
print(str2)

aabbcc

# Python Strings

In [3]:
var1 = "Hello World"
print(var1)

Hello World

In [21]:
print(var1[0])
print(var1[0:3])
print(var1[:3])
print(var1[4:8])
print(var1[4:])
print(var1[:])
print(var1[-1])
print(var1[6:-1])
print(var1[:-1])
print(var1[-1:])

H
Hel
Hel
o Wo
o World
Hello World
d
Worl
Hello Worl
d

In [28]:
#escape characters
print("jamal \n khan")
print("jamal \t khan")
print("jamal \v khan")
#print("jamal \x khan")
print("jamal \e khan")
print("jamal \a khan")
print("jamal \b khan")

jamal
 khan
jamal 	 khan
jamal  khan
jamal \e khan
jamal  khan
jamal  khan

In [43]:
#String operators
str1 = "The quick brown fox"
str2 = " jumped over the lazy dog"
str3 = str1 + str2
str3

if "fox" in str3:
    print("found fox")
    

if "fox" not in str2:
    print("fox not found ")
else:
    print("fox found again")

found fox
fox not found

In [45]:
print("jamal" + "\n" + "khan")

jamal
khan

In [ ]:
filename="C:\Users\mohammak\Desktop\code\python\schedule_parser\test_Sched1.txt"

In [4]:
#codingbat
#string_bits 


str1 = "HLO"

s=""

for i in range(len(str1)):
    if i%2 == 0:
        s = s + str1[i]
    
print(s)

HO

In [19]:
#codingbat
#string_splosion 

str = "Code"
result=""
for i in range(len(str)):
    for j in range(i+1):
        result=result+str[j]
        
print(result)

CCoCodCode

In [23]:
#alternative

str = "Code"
result=""
for i in range(len(str)):
    result = result + str[:i+1]
    
print(result)

CCoCodCode

In [33]:
#last2

def last2(str):
    len_str= len(str)
    lst = str[len_str-2:]
    count = 0
    for i in range(len_str -2):
        if str[i:i+2] == lst:
            count = count + 1
    return count
    
print(last2('hixxhi'))
print(last2('xaxxaxaxx'))
print(last2('axxxaaxx'))

1
1
2

In [34]:
a="hi"
b="bye"
print(a+b+b+a)

hibyebyehi

In [36]:
#maketags
tag="i"
word="Yay"

print("<"+tag+">"+word+"</"+tag+">")

<i>Yay</i>

In [40]:
out='[[]]'
print(out[:2])
print(out[2:])

[[
]]

In [46]:
word="jamalkhan"
print(word[-2:])

an

In [49]:
a=""
print(a[:2])

b="jamal"
print(b[:2])

ja

In [57]:
c="mjamalkhan"
hl=int((len(c)/2))
print (c[0:hl])

mjama